*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "B612";
  src: url("./B612-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "B612";
  src: url("./B612-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

:root {
  background: oklch(0% 0 0);
  color: oklch(100% 0 0);
  --ok-color: oklch(80% 0.28 140);
  --focus-color: oklch(80% 0.1 225);
  --warn-color: oklch(87% 0.17 80);
  --fail-color: oklch(64% 0.3 30);
  font-family: "B612", monospace;
  font-size: 2.75vmin;
  line-height: 1.5;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-items: center;
  justify-content: center;
  gap: 0.5em;
  font-size: 8vmin;
  img {
    width: 0.8lh;
  }
}

body.isCountingUp {
  --countdown-color: #777;
  --ring-color: #777;
}

body.isCountingDown {
  --countdown-color: oklch(100% 0 0);
  --ring-color: var(--focus-color);
}

body.isOver {
  --countdown-color: var(--fail-color);
  --ring-color: var(--fail-color);
}

body.screen-lock-status-released {
  --screen-lock-status-color: var(--warn-color);
}

body.screen-lock-status-error {
  --screen-lock-status-color: var(--fail-color);
}

body.screen-lock-status-locked {
  --screen-lock-status-color: var(--ok-color);
}

p {
  margin: 0;
}

details {
  margin: 1em;
  padding: 1em;
  font-size: 3vmin;
  border: 0.25em solid #777;
  &[open] {
    border-color: var(--focus-color);
  }
}

summary {
  text-transform: uppercase;
  font-weight: bold;
  padding: 1.5em 1em;
  margin: -1em;
}

form {
  display: grid;
  margin: 1em 0;
  gap: 1em;
  p:last-child {
    margin-bottom: -1em;
  }
}

label {
  display: grid;
  grid-template-columns: 6em 1fr;
  align-items: center;
  gap: 0.5em;
}

.ui {
  height: 100%;
  display: grid;
  grid-template-rows: auto auto;
  align-items: center;
  justify-items: center;
  align-content: center;
}

dialog {
  color: oklch(100% 0 0);
  background: oklch(0% 0 0);
  border: none;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.dialog-ui {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 2lh auto 2lh;
  align-items: center;
  justify-items: center;
  align-content: center;
  gap: 1em;
  input[type="submit"] {
    margin-top: 0;
    aspect-ratio: 1;
    line-height: 0;
    border-radius: 50%;
    font-size: 2em;
  }
}

progress-ring {
  z-index: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 98vmin;
  height: 98vmin;
  transform: translate(-50%, -50%);
}

input {
  font: inherit;
  font-weight: bold;
  padding: 0.5em;
  border-radius: 0;
  border: 0.2em solid #666;
  background-color: oklch(0% 0 0);
  color: oklch(100% 0 0);
  &:invalid {
    border-color: var(--fail-color);
    color: var(--fail-color);
  }
  &:hover {
    border-color: oklch(100% 0 0);
  }
  &:focus {
    border-color: oklch(100% 0 0);
    outline: 0.25em solid var(--focus-color);
  }
  &:invalid:focus {
    border-color: oklch(100% 0 0);
    outline: 0.25em solid var(--fail-color);
  }
}

.screenLockStatus {
  position: absolute;
  top: 2vmin;
  right: 2vmin;
  font-size: 4vmin;
  text-transform: uppercase;
  color: var(--screen-lock-status-color);
}

time,
b {
  font-weight: bold;
  display: inline-block;
  background: oklch(100% 0 0);
  color: oklch(0% 0 0);
  padding: 0.1em 0.2em;
  text-shadow: none;
}

b.over {
  background: var(--fail-color);
  color: oklch(100% 0 0);
}

.countdown {
  font-size: 24vmin;
  line-height: 1.5;
  color: var(--countdown-color);
  transition: all 600ms;
}
.hasHours .countdown {
  font-size: 17vmin;
}
