*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("./IBMPlexMono-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("./IBMPlexMono-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("./IBMPlexMono-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("./IBMPlexMono-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

:root {
  background: #000;
  color: #fff;
  font-family: "IBM Plex Mono", monospace;
  font-size: 4vmin;
  line-height: 1.5;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.ui {
  height: 100%;
  display: grid;
  grid-template-rows: auto auto;
  align-items: center;
  justify-items: center;
  align-content: center;
}

label {
  display: grid;
  gap: 0.5em;
  span {
    text-transform: uppercase;
  }
}

input[type="submit"] {
  margin-top: 2em;
}

dialog {
  color: #fff;
  background: #000;
  border: none;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.dialog-ui {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 2lh auto 2lh;
  align-items: center;
  justify-items: center;
  align-content: center;
  gap: 1em;
  input[type="submit"] {
    margin-top: 0;
    aspect-ratio: 1;
    line-height: 0;
    border-radius: 50%;
  }
}

progress-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vmin;
  height: 100vmin;
  background-color: rgba(from lime r g b / 0.2);
  transform: translate(-50%, -50%);
}

input {
  font: inherit;
  font-weight: bold;
  padding: 0.5em;
  border-radius: 0;
  border: 0.2em solid #666;
  background-color: #000;
  color: #fff;
  &:hover {
    border-color: #fff;
  }
  &:focus {
    border-color: #fff;
    box-shadow: 0 0 0.5em skyblue;
    outline: 0.25em solid skyblue;
  }
}
time.starts {
  text-decoration: underline;
  text-decoration-color: green;
  text-decoration-thickness: 0.25em;
}
time.ends {
  text-decoration: underline;
  text-decoration-color: #c00;
  text-decoration-thickness: 0.25em;
}
.countdown {
  color: #666;
  font-size: 20vmin;
  &.isCountingDown {
    color: white;
  }
  &.isOver {
    color: red;
  }
}
